extends ../base.jade

block content
	h3 Reset Password

	if error
		div.alert.alert-danger #{error}
	p Resetting the password for #{username}
	form(action="/auth/reset/#{reset_hash}", method="post")
		input(type="password", name="password", placeholder="Password")
		input(type="password", name="confirm_password", placeholder="Confirm Password")
		input(type="submit", value="Update Password")
