extends ../base.jade

block content
	h3 Create User

	if error
		p.alert.alert-danger #{error}

	form(action="/auth/user/create", method="post")
		input(type="text", name="username", placeholder="Username")
		input(type="password", name="password", placeholder="Password")
		input(type="submit", value="Create User")
